# (Mengenang) List

In [8]:
populasi = [30.55, 2.77, 39.21]
negara = ["afghanistan", "albania", "algeria"]
ind_alb = negara.index("albania")
ind_alb

1

In [9]:
populasi[ind_alb]

2.77

#

Latihan !

    1. Tambahkan 1 nama negara (indonesia) pada index terakhir di variabel negara !
    2. Tambahkan banyak populasi (angkanya terserah) pada negara yang sudah di inputkan pada soal nomer 1 !
    3. Tampilkan negara yang baru di inputkan beserta populasinya !

jawab !

In [10]:
#Jawab nomer 1 disini

In [ ]:
#Jawab nomer 2 disini

In [11]:
#Jawab nomer 3 disini

#

# Dictionary

In [12]:
world = { "afghanistan":30.55, "albania":2.77, "algeria":39.21 }

In [13]:
type(world)

dict

In [18]:
world["albania"]

2.77

- dict_name[ key ]
- result: value

In [19]:
world = {"afghanistan":30.55, "albania":2.77, # Ketika ada dua nama key apa yang terjadi?
"algeria":39.21, "albania":2.81}

In [20]:
world

{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21}

In [21]:
world["iceland"] = 0.000027

In [22]:
world

{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21, 'iceland': 2.7e-05}

In [23]:
del(world["albania"])

In [24]:
world

{'afghanistan': 30.55, 'algeria': 39.21, 'iceland': 2.7e-05}

In [25]:
negara = {
"country":["Brazil", "Russia", "India", "China", "South Africa"],
"capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
"area":[8.516, 17.10, 3.286, 9.597, 1.221],
"population":[200.4, 143.5, 1252, 1357, 52.98] }

In [26]:
negara

{'area': [8.516, 17.1, 3.286, 9.597, 1.221],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'population': [200.4, 143.5, 1252, 1357, 52.98]}

#

# Pandas

# Apa Itu Pandas ?

- Library Python untuk analisis Data dengan performa tinggi
- Struktur data dengan banyak fungsi
- Dibuat oleh Wes Mckinney
- Dibuat berdasrkan Numpy
- Berbentuk DataFrame

In [28]:
import pandas as pd

In [29]:
negara

{'area': [8.516, 17.1, 3.286, 9.597, 1.221],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'population': [200.4, 143.5, 1252, 1357, 52.98]}

In [32]:
negara_df = pd.DataFrame(negara)
negara_df

     area    capital       country  population
0   8.516   Brasilia        Brazil      200.40
1  17.100     Moscow        Russia      143.50
2   3.286  New Delhi         India     1252.00
3   9.597    Beijing         China     1357.00
4   1.221   Pretoria  South Africa       52.98

In [33]:
negara_df.index = ["BR", "RU", "IN", "CH", "SA"]

In [34]:
negara_df

      area    capital       country  population
BR   8.516   Brasilia        Brazil      200.40
RU  17.100     Moscow        Russia      143.50
IN   3.286  New Delhi         India     1252.00
CH   9.597    Beijing         China     1357.00
SA   1.221   Pretoria  South Africa       52.98

# DataFrame Dari CSV

In [35]:
df = pd.read_csv('negara.csv')

In [36]:
df

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [44]:
df = pd.read_csv('negara.csv', index_col=0)

In [45]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

# Filtering (Index and Select Data)

In [46]:
df['country']

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [47]:
type(df['country'])

pandas.core.series.Series

In [48]:
df[['country']]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [49]:
type(df[['country']])

pandas.core.frame.DataFrame

In [50]:
df[['country', 'capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [51]:
type(df[['country', 'capital']])

pandas.core.frame.DataFrame

In [54]:
df[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

# Menggunakan loc

In [55]:
df.loc['RU']

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [56]:
df.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [57]:
df.loc[["RU", "IN", "CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [58]:
df.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [59]:
df.loc[:, ["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

# Menggunakan iloc

In [60]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [61]:
df.loc['RU']

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [62]:
df.iloc[1]

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [63]:
df.loc[["RU", "IN", "CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [64]:
df.iloc[[1,2,3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [65]:
df.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [66]:
df.iloc[[1,2,3], [0, 1]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [67]:
df.loc[:, ["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [68]:
df.iloc[:, [0, 1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

#

Latihan !

    1. Tampilkan data negara.csv menjadi dataframe !
    2. Dari dataframe tersebut, tampilkan negara yang memiliki luas wilayah lebih dari 8 (Juta Km^2) beserta nama ibukota,      luas wilayah dan populasinya !

Jawab !

In [69]:
#Jawab Nomor 1 Disini

In [70]:
#Jawab Nomor 2 Disini