In [1]:
print('Hello World DSC FST')

Hello World DSC FST

In [2]:
tinggi = 1.65

In [3]:
print(tinggi)

1.65

In [4]:
rambut = 'hitam'

In [5]:
type(tinggi)

float

In [6]:
tinggi = 1.78
berat = 70

In [7]:
70 / 1.78 ** 2

22.093170054286073

In [8]:
berat / tinggi ** 2

22.093170054286073

In [9]:
type(rambut)

str

In [10]:
z = True

In [11]:
type(z)

bool

In [12]:
tinggi_1 = 1.34
tinggi_2 = 1.69
tinggi_3 = 1.82
tinggi_4 = 1.99

In [15]:
[1.73, 1.68, 1.71, 1.89]

[1.73, 1.68, 1.71, 1.89]

In [16]:
t_keluarga = [1.73, 1.68, 1.71, 1.89]
t_keluarga

[1.73, 1.68, 1.71, 1.89]

In [17]:
t_keluarga_1 = ["kakak", 1.73, "adik", 1.68]

In [18]:
t_keluarga_2 = [["kakak", 1.73], ["adik", 1.68]]

In [19]:
type(t_keluarga_1)

list

In [20]:
type(t_keluarga_2)

list

In [21]:
t_keluarga[2]

1.71

In [25]:
t_keluarga_1[2:4]

['adik', 1.68]

In [26]:
t_keluarga_1[:4]

['kakak', 1.73, 'adik', 1.68]

In [27]:
t_keluarga_1[2] = 'saudara'

In [28]:
t_keluarga_1

['kakak', 1.73, 'saudara', 1.68]

In [29]:
t_keluarga_1 + ['saya', 1.79]

['kakak', 1.73, 'saudara', 1.68, 'saya', 1.79]

In [30]:
del(t_keluarga_1[2])

In [31]:
t_keluarga_1

['kakak', 1.73, 1.68]

In [33]:
keluarga = [1.73, 1.68, 1.71, 1.89]

In [34]:
max(keluarga)

1.89

In [35]:
len(keluarga)

4

In [36]:
round(1.68, 1)

1.7

In [37]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [38]:
adik = 'dian'
tinggi = 1.73
keluarga = [1.73, 1.68, 1.71, 1.89]

In [39]:
adik

'dian'

In [41]:
adik.capitalize()

'Dian'

In [42]:
adik.upper()

'DIAN'

In [43]:
adik.replace('i', 'y')

'dyan'

In [44]:
keluarga.append('saya')

In [45]:
keluarga

[1.73, 1.68, 1.71, 1.89, 'saya']

In [46]:
import numpy

In [47]:
numpy.array([1,2,3])

array([1, 2, 3])

In [48]:
from numpy import array

In [49]:
array([1, 2, 3])

array([1, 2, 3])

In [53]:
keluarga = ['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.89]
keluarga_tambahan = keluarga + ['saya', 1.76]
print(str(len(keluarga_tambahan)) + ' elemen keluarga tambahan')
np_keluarga = array(keluarga_tambahan)
print(np_keluarga)

10 elemen keluarga tambahan
['kakak' '1.73' 'adik' '1.68' 'ibu' '1.71' 'ayah' '1.89' 'saya' '1.76']

In [60]:
tinggi = [1.76, 1.68, 1.71, 1.89, 1.69]
berat = [65.4, 59.2, 63.6, 88.4, 68.7]

In [61]:
import numpy as np

In [62]:
np_berat = np.array(berat)
np_tinggi = np.array(tinggi)

In [63]:
bmi = np_berat / np_tinggi ** 2

In [64]:
bmi

array([21.11311983, 20.97505669, 21.75028214, 24.7473475 , 24.05377963])

In [65]:
bmi > 23

array([False, False, False,  True,  True])