In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('sales-feb-2015.csv', index_col=0, parse_dates=True)
df.head(10)

                             Company   Product  Units
Date
2015-02-02 08:33:01            Hooli  Software      3
2015-02-02 20:54:49        Mediacore  Hardware      9
2015-02-03 14:14:18          Initech  Software     13
2015-02-04 15:36:29        Streeplex  Software     13
2015-02-04 21:52:45  Acme Coporation  Hardware     14
2015-02-05 01:53:06  Acme Coporation  Software     19
2015-02-05 22:05:03            Hooli   Service     10
2015-02-07 22:58:10  Acme Coporation  Hardware      1
2015-02-09 08:57:30        Streeplex   Service     19
2015-02-09 13:09:55        Mediacore  Software      7

In [7]:
df.shape

(20, 4)

In [17]:
df.loc['2015-02-01':'2015-02-07']

Company    Streeplex
Product     Software
Units             19
dtype: object

In [16]:
df = df[df.Units == df.max()]

ValueError: Can only compare identically-labeled Series objects